@import '~antd/dist/antd.css';
html, body, #root, .App {
  height: 100%;
}

.App {
  font-family: 'Sen', sans-serif;
  background-color: #fafafa;
}

.ant-modal-content {
  border-radius: 16px;
}

.ant-card-body {
  display: flex;
  height: calc(100% - 39px);
}

.ant-card-bordered {
  border-radius: 16px;
}

.header {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border-top: 0.5px solid #e0e0e0;
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  height: 100%;
}

.container {
  flex: 1;
}

.statsContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mainContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
}

.mainContent {
  flex: 1;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chartsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.chartsContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsContent {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.countriesSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.countriesSelector>* {
  flex: 1;
}

.ant-statistic-content {
  font-weight: 600;
}

.countriesRow {
  flex: 1;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.countriesSelector>span {
  flex: none;
  max-width: 50%;
}

.countriesTableContainer .ant-card-body {
  padding: 0;
}

.countriesTable {
  max-height: 450px;
  overflow-y: auto;
  border-radius: 16px;
}

.topCountries {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.headerContainer {
  height: 100%;
  flex: 1;
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.logoContainer {
  height: 100%;
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .chartsContainer {
    grid-template-columns: 1fr;
  }
  .statsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .countriesRow {
    grid-template-columns: 1fr;
  }
  .updateTime .ant-statistic-content-value {
    font-size: 18px;
  }
}