@import '~antd/dist/antd.css';

html, body, #root, .App {
  height: 100%;
}

.ant-card-body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  max-width: 100%;
}

.header {
  background-color: #b2ebf2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  flex: 1;
}

.mainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chartsContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .chartsContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto;
    text-align: center;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
